/* 親要素に対する全体のスタイル設定 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: calc(32px + 5rem) 100px 0 100px;
}

/* 見出しスタイル */
.heading {
  font-size: 2rem;
  color: #333;
  margin-bottom: 40px; /* 見出しとリンクリストの間に余白を追加 */
}

/* リストのスタイル */
.linkList {
  list-style: none;
  padding: 0;
  margin: 0; /* リストの余白をリセット */
  width: 100%; /* リストを100%幅に設定 */
  max-width: 400px; /* 最大幅を設定 */
}

/* リスト項目のスタイル */
.listItem {
  margin: 10px 0; /* リスト項目の間隔を確保 */
}

/* リンクのスタイル */
.link {
  display: block; /* ボタンをブロック要素にして幅を100%に */
  width: 100%; /* リンクを100%幅に設定 */
  font-size: 1.5rem;
  color: #0070f3;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center; /* テキストを中央に配置 */
  border: 2px solid #0070f3;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.link:hover {
  background-color: #0070f3;
  color: #fff;
}
