.pageHeader {
  margin-bottom: 0%;
  color: #00aeef; /* テキストの色を変更 */
  font-size: 2.5rem;
  margin-left: 40px; /* 右にずらすためのマージンを追加 */
  padding-bottom: 20px;
  margin-top: 30px;
}

.container {
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex; /* 横並びにするためにFlexboxを使用 */
  justify-content: flex-start; /* コンポーネント間のスペースを調整 */
  align-items: flex-start; /* 上揃え */
}

.eventList {
  list-style-type: none;
  padding: 0;
  display: flex; /* 横並びにするためにFlexboxを使用 */
  flex-direction: column; /* 横方向に並べる */
  gap: 15px;
  width: 100%;
  padding-top: 8px;
  padding-right: 20px;
}

.eventItemWrapper {
  display: flex; /* 子要素をフレックスボックスで表示 */
  width: auto; /* 自動で幅を調整 */
}

.eventItem {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: none;
  padding: 15px;
  max-width: 500px;
}

.eventLink {
  text-decoration: none;
  color: #007bff;
  font-size: 1.25rem;
  font-weight: 500;
}

.eventLink:hover {
  text-decoration: underline;
  color: #0056b3;
}

.newEventButton {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: 500;
}

.newEventButton:hover {
  background-color: #0056b3;
}
