/* 親要素に対する全体のスタイル設定 */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: calc(32px + 5rem) 100px 0 100px;

  @media screen and (max-width: 768px) {
    padding: calc(32px + 5rem) 20px 0 20px;
  }
}

/* リストのスタイル */
.linkList {
  list-style: none;
  padding: 0;
  margin: 0; /* リストの余白をリセット */
  width: 100%; /* リストを100%幅に設定 */
}

/* リスト項目のスタイル */
.listItem {
  margin-bottom: 24px; /* リスト項目の間隔を確保 */
  width: 100%;
}

/* リンクのスタイル */
.link {
  display: block; /* ボタンをブロック要素にして幅を100%に */
  width: 100%; /* リンクを100%幅に設定 */
  font-size: 1.5rem;
  background-color: #eaeff2;
  color: var(--text);
  text-decoration: none;
  padding: 10px 20px;
  text-align: center; /* テキストを中央に配置 */
  border: 2px solid var(--border);
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.link:hover {
  background-color: var(--border);
  color: #fff;
}
