.spinner {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #007bff;
    animation: spin 1s ease infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* ビューポート全体の高さに合わせる */
    background-color: #f0f0f0; /* 背景色を追加 */
  }
  